---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<ol>
  {% assign publications = site.publications | sort: "date" | reverse %}
  {% for post in publications %}
    <li>
      {{ post.citation }}
    </li>
  {% endfor %}
</ol>

<h2>Dissertations</h2>

<ul>
  <li>
    <i>Applications of matter reference frames in quantum gravity</i><br>
    Dr. rer. nat. dissertation, Ludwig-Maximilians-Universität München, 2023.
    <br>
    <a href="{{ base_path }}/files/Yili_Wang_Dissertation.pdf">[PDF]</a>
    <a href="https://doi.org/10.5282/edoc.31931">[Official record]</a>
  </li>

  <li>
    <i>Your Master's Dissertation Title</i><br>
    Master of Science (MSc) dissertation, Imperial College London, YEAR.
    <br>
    <a href="{{ base_path }}/files/Yili_Wang_Masters_Dissertation.pdf">[PDF]</a>
    <a href="https://imperialcollegelondon.app.box.com/s/4zeb3gmhvbvfntu136l7gbaybpj1qux4">[Official record]</a>
  </li>
</ul>


