---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% for post in site.publications reversed %}
  <p>
    {{ post.citation }}
  </p>
{% endfor %}

<h2>Dissertation</h2>

<p>
  <i>Applications of matter reference frames in quantum gravity</i><br>
  Dr. rer. nat. dissertation, Ludwig-Maximilians-Universität München, 2023.
  <br>
  <a href="{{ base_path }}/files/Yili_Wang_Dissertation.pdf">[PDF]</a>
  <a href="https://doi.org/10.5282/edoc.31931">[DOI]</a>
</p>


